*{
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.jumbotron{
    padding-top: 100px; 
    background: #F1F3FF;
}
.text-normal-weight {
    font-size: 14px;
}
.footer{
    background: white;
    position: absolute;
    width: 100vw;
}
.social{
    padding: 0;
}
.h4{
    padding: 15px 0px;
}
.social li{
    display: inline-block;
    background-color: #1226da;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}
.social li a i{
    padding-top: 7px;
    color: #fff;
    transition: .3s;
    font-size: 20px;
}
.card {
    padding-top: 10px; 
    padding-left: 20px;
}
.card i{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
    padding-top: 2px;
}
